.checkmark-check.alignCheckbox {
  background-color: rgb(33, 150, 243) !important ;
  border-color:   rgb(33, 150, 243);
}

.container-check .checkmark-check.alignCheckbox:after {
  left: 3px;
  top: 6px;
  width: 7px;
  height: 0;

  border: solid #efefef;
  border-width: 0 1.2px 1.2px 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  content: "";
  position: absolute;
  display: block;

}


.container-check {
  display: flex;
  position: relative;
  width: 0;

}
.label-check{
  position: relative;
  right: 29px;
  bottom: 10px;
}
/* Hide the browser's default checkbox */
.container-check input {
  opacity: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark-check {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  transition: transform 0.28s ease;
  border-radius: 3px;
  border: 1px solid #c7c7c7;
  background-color: #f9f9f9;
  cursor: pointer;
}

.container-check input:disabled ~ .checkmark-check {
  background-color: #e2e2e2 !important;
  border: 1px solid  rgb(33, 150, 243);
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark-check {
  background-color: #efefef;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark-check {
  // background-color: #f9f9f9;
  background-color:  rgb(33, 150, 243)  !important;
  border-color:  rgb(33, 150, 243);
}

/* Create the checkmark-check/indicator (hidden when not checked) */
.checkmark-check:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark-check when checked */
.container-check input:checked ~ .checkmark-check:after {
  display: block;
}

/* Style the checkmark-check/indicator */
.container-check .checkmark-check:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 9px;
  border: solid #efefef;
  border-width: 0 1.2px 1.2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
